<<<<<<< HEAD
<h1>Achiveに新しくブログが投稿されました！</h1>

<h4>title: <%= @blog.title %></h4>
<P>content: <%= @blog.content %></P>

<P>
  <%= link_to '投稿されたブログはこちら', blogs_url %>
</P>

=======
<h1>Achieveに新しくブログが投稿されました！</h1>

<h4>title: <%= @blog.title %></h4>
<p>content: <%= @blog.content %></p>

<p>
  <%= link_to '投稿されたブログはこちら', blogs_url %>
</p>
>>>>>>> 8853af65557dc717cbbaece19bdb6142d7860673
